<h4>{{model.question}}</h4>
<h5>by {{model.author}}</h5>
<h6>{{model.details}}</h6>
<br>
  <!-- {{update-question model=question update="update"}}
  <button class="btn btn-danger btn-xs"{{action 'delete' question}}>Delete</button> -->
