<h4>{{model.question}}</h4>
<h5>by {{model.author}}</h5>
<h6>{{model.details}}</h6>
<p>Submitted on {{format-date question.date_added}}</p>
<br>

{{new-answer saveAnswer="saveAnswer" question=model}}
<br>

<ul>
  {{#each model.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  <br>
  {{/each}}
</ul>
